<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBonService" />
                <binding name="BasicHttpsBinding_IBonService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bonwebservice.azurewebsites.net/BonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBonService"
                contract="BonWs.IBonService" name="BasicHttpBinding_IBonService" />
            <endpoint address="https://bonwebservice.azurewebsites.net/BonService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IBonService"
                contract="BonWs.IBonService" name="BasicHttpsBinding_IBonService" />
        </client>
    </system.serviceModel>
</configuration>